.headfont {
    font-family: "Righteous", sans-serif;
    font-size: 100px;
    text-align: center;
}
.bodyfont {
    font-family: "Exo 2", sans-serif;
    font-size: 15px;
}
.bgform {
    margin-left: 25%;
}
