<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">

<style>
    .overall {
        background: #000 url("https://s8.postimg.org/oalv2tdfp/source.gif") no-repeat fixed right bottom;
        /*background-image: url('https://s8.postimg.org/oalv2tdfp/source.gif');*/
        /*background-repeat: no-repeat;*/
        /*background-attachment: scroll;*/
        /*background-position:right bottom;*/
        background-size: auto;
        /*text-align: center;*/
        /*padding-bottom: 24%;*/
    }

    .head {
        padding-top: 30px;
        padding-bottom: 140px;
        color: inherit;
        background: url("https://s8.postimg.org/oalv2tdfp/source.gif") no-repeat fixed right;
        height: 100%;
    }

</style>
    <div class="head">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
